<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Venta agrícola</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Compra-Venta WEB Agrícola</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Regístrate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/registro-cliente">Cliente</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/registro-productor">Productor</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/inicio-sesion">Inicia Sesión </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Bienvenido!</div>
            <div class="list-group list-group-flush">
                <a href="/perfil-usuario" class="list-group-item list-group-item-action bg-light">Mi cuenta</a>
                <!-- Dependiendo si es cliente o productor muestra ventas o compras realizadas -->
                <a href="/compras" class="list-group-item list-group-item-action bg-light">Compras</a>
                <!-- Muestra solo si es cliente -->
                <a href="/carrito" class="list-group-item list-group-item-action bg-light">Carrito</a>
                <a href="/contactos" class="list-group-item list-group-item-action bg-light">Contactos</a>
                <a href="/valoraciones" class="list-group-item list-group-item-action bg-light">Valoraciones</a>
                <!-- Muestra solo si es cliente -->
                <a href="/favoritos" class="list-group-item list-group-item-action bg-light">Favoritos</a>
                <!-- Solo si es productor podrá agregar productos -->
                <a href="/productos" class="list-group-item list-group-item-action bg-light">Mis Productos</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <button id="menu-toggle" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent14" aria-controls="navbarSupportedContent14"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>