{% extends "base-usuario.html" %}
{% set c = True %}
{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <form action="/perfil-usuario-editado" method="POST">
                <h1 class="mt-4">Mis datos</h1>
                <br><br>
                <h2>Datos de cuenta</h2>
                <div class=""> 
                    Usuario: 
                    {%  if user[0][2] == " " %}
                            <input type="usuario" name='username' class="form-control" id="usuario" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Usuario" value=""> 
                    {%  else  %}
                            <input type="usuario" name='username' class="form-control" id="usuario" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Usuario" value="{{ user[0][2] }}"> 
                    {%  endif  %}
                    Correo: {{ user[0][0] }}
                </div>
                <br><br>
                <h2>Datos personales</h2>
                <div class="">
                    Nombre y apellido : {{ user[0][3] }} {{ user[0][4] }}<br>
                    RUT:  
                    {%  if user[0][5] == " " %}
                            <input type="rut" name='rutusuario' class="form-control" id="rut" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Rut" value=""> 
                    {%  else  %}
                            <input type="rut" name='rutusuario' class="form-control" id="rut" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Rut" value="{{ user[0][5] }}"> 
                    {%  endif  %}
                    Teléfono:  
                    {%  if user[0][6] == " " %}
                            <input type="telefono" name='telefono1' class="form-control" id="telefono" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Telefono" value=""> 
                    {%  else  %}
                            <input type="telefono" name='telefono1' class="form-control" id="telefono" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Telefono" value="{{ user[0][6] }}"> 
                    {%  endif  %}
                    Teléfono alternativo:
                    {%  if user[0][6] == " " %}
                            <input type="telefono2" name='telefono2' class="form-control" id="telefono2" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Telefono" value=""> 
                    {%  else  %}
                            <input type="telefono2" name='telefono2' class="form-control" id="telefono2" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Telefono" value="{{ user[0][7] }}"> 
                    {%  endif  %}
                </div>
                <br><br>
                <h2>Domicilio</h2>
                <div class="">
                    Domicilio:  
                    {%  if user[0][8] == " " %}
                            <input type="domicilio" name='domicilio' class="form-control" id="domicilio" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Domicilio" value=""> 
                    {%  else  %}
                            <input type="domicilio" name='domicilio' class="form-control" id="domicilio" aria-describedby="emailHelp" 
                            placeholder="Ingrese Su Domicilio" value="{{ user[0][5] }}"> 
                    {%  endif  %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <br><br>
            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

{% endblock %}
{% block scripts %}
{% endblock %}