{% extends "base-usuario.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Lista De Favoritos</h1>
    <br><br>
    <H2>Agregados Recientemente</H2>
    <br>
    <div class="">
        Productor: <br>
        Direccion: <br>
        Categoria: <br>
        Productos: <br>
        <button type="submit" class="btn btn-primary">Eliminar De Favoritos</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Hacer Pedido</button>
    </div>
    <br>
    <hr>
    <br>
    <div class="">
        Productor: <br>
        Direccion: <br>
        Categoria: <br>
        Productos: <br>
        <button type="submit" class="btn btn-primary">Eliminar De Favoritos</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Hacer Pedido</button>
    </div>    
    <br>
    <hr>
    <br>
    <div class="">
        Productor: <br>
        Direccion: <br>
        Categoria: <br>
        Productos: <br>
        <button type="submit" class="btn btn-primary">Eliminar De Favoritos</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Hacer Pedido</button>

    </div>
    <br>
    <hr>
    <H2>No Disponibles En Estos Momentos</H2>
    <br>
    <div class="">
        Productor: <br>
        Direccion: <br>
        Categoria: <br>
        Productos: <br>
        <button type="submit" class="btn btn-primary">Eliminar De Favoritos</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Hacer Pedido</button>

    </div>

</div>        

{% endblock %}
