{% extends "base.html" %}

{% block content %}
<div class="container p-4">
    <div class="jumbotron p-4">
        <h1 class="display-4">Bienvenido !</h1>
        <p class="lead">Nos complace presentarte esta aplicación web destinada a todos los clientes y productores agrícolas de la zona </p>
        <hr class="my-4">
        <p>Esperamos que puedas solventar tus necesidades en esta plataforma tanto como comproador como proveedor, estamos ansiosos porque formes parte de nuestra comunidad.
            Ven y mira lo que tenemos preparado para ti !
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Ver más...</a>
        </p>
    </div>
</div>
{% endblock %}