{% extends "base.html" %}

{% block content %}
<div class="container p-4">
    <div class="jumbotron p-4">
        <h1 class="display-4">Bienvenido !</h1>
        <p class="lead">Nos complace presentarte esta aplicación web destinada a todos los clientes y productores agrícolas de la zona </p>
        <hr class="my-4">
        <p>Esperamos que puedas solventar tus necesidades en esta plataforma tanto como comproador como proveedor, estamos ansiosos porque formes parte de nuestra comunidad.
            Ven y mira lo que tenemos preparado para ti !
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Ver más...</a>
        </p>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <th scope="row">{{producto.1}}</th>
                <td>{{producto.2}}</td>
                <td>{{producto.3}}</td>
                <td>{{producto.4}}</td>
                <td> 
                    <a class="btn btn-success" href="/agregar-carrito/{{producto.0}}{{producto.2}}">+ Agregar al carrito</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}