{% extends "base.html" %}

{% block content %}


<div class="container p-4">
    <form action="/perfil-usuario" method="POST">
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="text" name="correo" class="form-control" id="correo" aria-describedby="emailHelp"
                placeholder="Ingrese Su Correo">
        </div>
         <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input type="password" class="form-control" id="nombre-usuario" aria-describedby="emailHelp"
                placeholder="Ingrese Su Contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>    
    <br>
    
    

</div>

{% endblock %}