{% extends "base-usuario.html" %}
{% set c = True %}
{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <form action="/perfil-usuario" method="POST">
                <h1 class="mt-4">Mis datos</h1>
                <br><br>
                <h2>Datos de cuenta</h2>
                <div class=""> 
                    Usuario: {{ user[0][2] }}<br>
                    Correo: {{ user[0][0] }}
                </div>
                <br><br>
                <h2>Datos personales</h2>
                <div class="">
                    Nombre y apellido : {{ user[0][3] }} {{ user[0][4] }}<br>
                    RUT: {{ user[0][5] }}<br>
                    Teléfono: {{ user[0][6] }}<br>
                    Teléfono alternativo: {{ user[0][7] }}<br>
                </div>
                <br><br>
                <h2>Domicilio</h2>
                <div class="">
                    Domicilio:  {{ user[0][8] }}<br>
                </div>
                <br>
                <a class="btn btn-primary" href="/editar-usuario" role="button">Editar Datos Usuario</a>
                <br>
                <br>
            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

{% endblock %}
{% block scripts %}
{% endblock %}