{% extends "base-usuario.html" %}

{% block content %}
<div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Mis datos</h1>
            <br><br>
            <h2>Datos de cuenta</h2>
            <div class=""> 
                Usuario:   <br>
                Correo: {{ user[0][0] }}
            </div>
            <br><br>
            <h2>Datos personales</h2>
            <div class="">
                Nombre y apellido : {{ user[0][3] }} {{ user[0][4] }}<br>
                RUT:   <br>
                Teléfono:  <br>
                Teléfono alternativo  <br>
            </div>
            <br><br>
            <h2>Domicilios</h2>
            <div class="">
                <a href="#">+ Agregar domicilio</a>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

{% endblock %}