{% extends "base-usuario.html" %}

{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <form action="/perfil-usuario" method="POST">
                <h1 class="mt-4">Mis datos</h1>
                <br><br>
                <h2>Datos de cuenta</h2>
                <div class=""> 
                    Usuario: {{ user[0][2] }}<br>
                    Correo: {{ user[0][0] }}
                </div>
                <br><br>
                <h2>Datos representante legal</h2>
                <div class="">
                    Nombre y apellido : {{ user[0][3] }} {{ user[0][4] }}<br>
                </div>
                <h2>Datos empresa</h2>
                <div class="">
                    Nombre empresa : {{ user[0][5] }}<br>
                    RUT: {{ user[0][7] }}<br>
                    Razón social: {{ user[0][6] }}<br>
                    Teléfono: {{ user[0][8] }}<br>
                    Teléfono alternativo: {{ user[0][10] }}<br>
                </div>
                <br><br>
                <h2>Domicilio</h2>
                <div class="">
                    Domicilio:  {{ user[0][11] }}<br>
                </div>
                <br>
                <a class="btn btn-primary" href="/editar-productor" role="button">Editar Datos Productor</a>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
    <!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

{% endblock %}