{% extends "base-usuario.html" %}

{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <form action="/perfil-usuario" method="POST">
                <h1 class="mt-4">Mis datos</h1>
                <br><hr><br>
                <h2>Datos de cuenta </h2><br>
                {% if user[0][13] == 1 %}
                    <h5>Disponible  &nbsp;&nbsp;&nbsp;<!-- Rounded switch -->
                        <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                        </label>
                        &emsp;<a class="btn btn-success" href = "javascript:;" onclick = "this.href='actualizarEstado'">Actualizar</a>
                    </h5>
                {% else %}
                    <h5>Disponible  &nbsp;&nbsp;&nbsp;<!-- Rounded switch -->
                        <label class="switch" >
                        <input type="checkbox" onclick="this.href='actualizarEstado'">
                        <span class="slider round"></span>
                        </label>
                        &emsp;<a class="btn btn-success" href = "javascript:;" onclick = "this.href='actualizarEstado'">Actualizar</a>
                    </h5>
                {% endif %}
                <div class=""> 
                    <br>
                    Usuario: {{ user[0][2] }}<br>
                    Correo: {{ user[0][0] }}
                </div>
                <br><br>
                <h2>Datos representante legal</h2>
                <div class="">
                    Nombre y apellido : {{ user[0][3] }} {{ user[0][4] }}<br>
                </div><br>
                <h2>Datos empresa</h2>
                <div class="">
                    Nombre empresa : {{ user[0][5] }}<br>
                    RUT: {{ user[0][7] }}<br>
                    Razón social: {{ user[0][6] }}<br>
                    Teléfono: {{ user[0][8] }}<br>
                    Teléfono alternativo: {{ user[0][10] }}<br>
                    Categoría empresa: {{user[0][12]}} <br>
                </div>
                <br><br>
                <h2>Domicilio</h2>
                <div class="">
                    Domicilio:  {{ user[0][11] }}<br>
                </div>
                <br>
                <a class="btn btn-primary" href="/editar-productor" role="button">Editar Datos Productor</a>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}