{% extends "base-usuario.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Busqueda Reciente</h1>
    <br><br>
    <br>
    <div class="">
        {% for producto in productos %}
        <hr>
        <div class="row">
            <div class="col-md-6">
                ID Producto: <b>{{producto.0}}</b> <br>
                Nombre Producto: <b>{{producto.1}}</b><br>
                Cantidad: <b>{{producto.2}}</b><br>
                Precio: <b>{{producto.3}}</b><br>
                Categoria: <b>{{producto.4}}</b><br><br>
                <a class="btn btn-success" href="/agregar-carrito/{{producto.0}}/{{producto.2}}">+ Agregar al
                    carrito</a>
            </div>
            <div class="col-md-3">
                <img src="./static/images/uploads/{{producto.0}}{{producto.5|replace(".", "")|replace("@", "")}}" style="width: 200px; height: 160px;"/>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

</div>


{% endblock %}
{% block scripts %}
{% endblock %}